# ==== Публичные переменные ====
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_ALL_PRODUCTS=/api/allProducts
NEXT_PUBLIC_API_CATEGORIES=/api/category
NEXT_PUBLIC_API_FLASH_SALES=/api/flashSales
NEXT_PUBLIC_API_POPULAR=/api/popular

# ==== Приватные переменные ====
MONGODB_URI=
GROQ_API_KEY=

